name: CI

on:

  push:
    branches: 
      - '**'
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v3
      - name: Clone and install circom
        uses: actions/checkout@v3
        with:
          repository: iden3/circom
          path: circom
          ref: master
      - name: Install latest rust stable
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - name: Cache build artifacts
        uses: actions/cache@v3
        with:
          path: |
            **/target
            ~/.cargo
          key: aes-gcm-siv-0.0.1  
      - run: cargo build --release --manifest-path=circom/Cargo.toml && cargo install --path circom/circom
      - run: npm ci
      - run: npm test